@import '../../appVariables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.user-application {
  display: flex;
  margin: 1vw auto;
  justify-content: center;
  background-color: $color-2;
  border-radius: 10px;
  margin-right: 1vw;
  box-shadow: 0 0.25px 0.25px rgba(141, 134, 134, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);

  transition: 0.1s ease-in;
  &:hover {
    transform: scale(1.01);
  }

  width: 15vw;
  height: 200px;

  span {
    font-size: 10px;
    color: grey;
  }

  h5 {
    color: Black;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  align-items: start;

  h3 {
    margin: 1vh auto;
    color: black;
  }
}

.band-name {
  color: black;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}

.band-info {
  line-height: 2.5vh;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}

.application-status {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  width: 2rem;
  flex-grow: 0;

  &--pending {
    background-color: #f5c330;
  }
  &--accepted {
    background-color: #30f558;
  }
  &--rejected {
    background-color: #f55d30;
  }
}

.application-desc {
  font-weight: 500;
}

.user-application span {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: black;
  line-height: 24px;
}
