@import './appVariables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.vimeo-video {
  display: flex;
  justify-content:center;
  border: 2px black solid;
  object-fit: fill;
  width:100%;
  height:100%;
  object-fit: fill;
}

footer {
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color:burlywood;
  color: white;
  bottom: 0;
  width: 100%;
  height: 6em;

  .fab {
    margin-left : 30px;
    font-size: 15px;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.contributors {
  display:flex;
  justify-content: center;
  flex-direction: flex-start;
}