@import './appVariables.scss';


main {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.vimeo-video {
  display: flex;
  justify-content:center;
  border: 2px black solid;
  object-fit: fill;
  width:100%;
  height:100%;
  object-fit: fill;
}

footer {
  background-color:burlywood;
  color: white;
  bottom: 0;
  width: 100%;
  height:10em;
}