// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$main-font: 'Montserrat', sans-serif;
// // //NOT A BAD CHOICE
// $color-1: #003049;
$color-1: #61a5c2;
$color-4: #e4ba4d;
$color-3: white;
$color-2: white;
$color-5: #eae2b7;
$color-6: #333533;
// 468faf
// 61a5c2

// $color-1: #f5cb5c;
// $color-4: #d62828;
// $color-3: #e8eddf;
// $color-2: #fcbf49;
// $color-5: #eae2b7;
// $color-1: #f5cb5c;
// $color-4: #d62828;
// $color-3: #242423;
// $color-2: #fcbf49;
// $color-5: #eae2b7;

// Try this next
// $color-1: burlywood;
// $color-2: rgb(197, 152, 94);
// $color-3: white;
// $color-4: rgb(160, 99, 20);
// $color-5: rgb(175, 117, 40);

// // Try this next
// $color-5: #fec89a;
// $color-4: #fcd2af;
// $color-3: #f9e5d8;
// $color-2: #f8edeb;
// $color-1: #fae1dd;

// $color-3: #0b090a;
// $color-1: #ba181b;

$background-color: #f4f4f4;
// $background-color: #333533;
// $background-color: #cfdbd5;
