.user-profile {
  display: flex;
  margin: 4.5em 3em;
  padding-top: 10vh;
  padding-bottom: 1.3vh;
  justify-content: space-evenly;
  align-items: center;
}

.user-info-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-right: 3em;
  padding-top: 1em;
  flex-direction: column;
  height: 40em;
  align-items: center;

  img {
    border-radius: 50%;
    object-fit: fill;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.profile-right {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
}

.profile-band-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  .profile-band {
    margin-right: 1vw;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    img {
      width: 350px;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

.profile-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.profile-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.default-band-image {
  margin-right: 10px;
}

.inst-genre-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h5 {
    margin: 0;
  }
}

.profile-application-container {
  display: flex;
  // border:2px solid black;
  justify-content: center;
  flex-direction: row;
  margin-top: 2vh;
  flex-wrap: wrap;
  align-items: center;
  object-fit: fill;
}

.inst-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2vw;
}

.avatar-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 17vh;
  p {
    margin: 0;
  }
}

.genre-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3vh;

  .MuiChip-root {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

//Edit button

.edit-button {
  color: white;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
  margin-top: 20px;
  max-height: 60px;
  padding: 15px 0;
  width: 200px;
  opacity: 1;
  background-color: #61a5c2;
  border: none;
}
.edit-button span {
  color: #49494b;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.edit-button:hover {
  animation: rotate 0.7s ease-in-out both;
}
.edit-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
