@import '../appVariables.scss';

.chat-window {
  z-index: 500000;
  position: fixed;
  bottom: 105px;
  right: 50px;
  width: 500px;
  height: 500px;
  background-color: $color-2;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);

  ul,
  li {
    margin: 0;
    padding: 0;
  }
}

.bottom-part-of-chat-window {
  display: flex;
}

.message-box-container {
  border: 1px dashed #0d3e53;
  // margin: auto;
  border-radius: 5px;
  background-color: $color-2;
  margin-top: 10px;
  margin-left: 3em;
  margin-right: 1em;
  // margin-bottom: 1em;
  width: 450px;
  height: 340px;
}

.message-input-form {
  position: fixed;
  bottom: 120px;
  right: 100px;
  display: flex;
  background-color: $color-2;
  max-height: 50px;
  width: 400px;
  flex-direction: row;
}

.input-message-box {
  border: 1px solid #0d3e53;
  background-color: $color-2;
  border-radius: 5px;
}

.input-button-spacer {
  padding: 0.5em;
}

.users-list-container {
  // border-style: solid;
  margin-top: 1em;
  margin-right: 1em;
}

.users-list {
  display: flex;
  // border-style: solid;
}

.chat-user-button {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;

  &--selected {
    border: 2px solid green;
  }
}

.send-message-button {
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border-style: hidden;
  color: white;
  background-color: $color-1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12);
  transition: 0.1s ease-in;
  &:hover {
    transform: scale(1.1);
  }
}

.open-chat-button {
  z-index: 40000;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: hidden;
  color: white;
  background-color: $color-6;
}

.close-chat-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12);
}

.chat-box-title {
  margin: auto;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  width: fit-content;
  background-color: $color-1;
  box-shadow: 0 0.25px 0.25px rgba(0, 0, 0, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  
}

.messages-list {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bolder;
  color: black;

  p {
    font-weight: 600;
  }
}

.chat-message {
  display: flex;

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }
}
