@import '../appVariables.scss';

div.search-page{

	margin-top: 200px;
	h1 {
		padding-bottom: 15px;
	}
	padding-bottom: 18.8em;
}

// Switch
$green: orange;
$red: crimson;


.switch {
	position: relative;
	width: 150px;
	height: 50px;
	text-align: center;
	margin: -30px 0 0 -75px;
	background: $green;
	transition: all 0.2s ease;
	border-radius: 25px;
	margin: 0px 0px 10px 0px;

	label {
		cursor: pointer;
		color: rgba(0,0,0,1);
		width: 60px;
		line-height: 50px;
		transition: all 0.2s ease;
	}
}
input[type=radio] {
	display: none;
}
label[for=yes] {
	position: absolute;
	left: 10px;
	height: 20px;
}
label[for=no] {
	position: absolute;
	right: 10px;
}
#no {
	&:checked {
		& ~ .switch {
			background: $red;
			span {
				background: #fff;
				margin-left: -8px;
				&:after {
					background: #fff;
					height: 20px;
					margin-top: -8px;
					margin-left: 8px;
				}
			}
			label[for=no] {
				color: #fff;
			}
		}
	}
}
#yes {
	&:checked {
		& ~ .switch {
			label[for=yes] {
				color: #fff;
			}
		}
	}
}

.search-button-form{
	background-color: $background-color;
}


// Search button CSS copied from home page

.search-button {
	background-color: $background-color;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
  margin-top: 15px;
	margin-bottom: 15px;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: $background-color;
  box-shadow: 0 0.25px 0.25px rgba(141, 134, 134, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  border: 0.5px solid $color-2;
}
.search-button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.search-button:hover {
  animation: rotate 0.7s ease-in-out both;
}
.search-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}