@import '../../appVariables.scss';

.leader-band-item {
  display: flex;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0.25px 0.25px rgba(0, 0, 0, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  transition: 0.1s ease-in;
  &:hover {
    transform: scale(1.05);
  }
}

.edit-band-form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: whitesmoke;
  box-shadow: 0 0.25px 0.25px rgba(0, 0, 0, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
