@import '../../appVariables.scss';

.leader-band-list {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: center;
}

.leader-band-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  flex: wrap;
}

.leader-band-list-title {
  // border-radius: 30px;
  // background-color: $color-4;
  width: fit-content;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
  border-bottom: 2px solid grey;
  box-shadow: 0 4px 2px -2px gray;
  // box-shadow: 0 0.25px 0.25px rgba(0, 0, 0, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
  //   0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
