@import '../../appVariables.scss';

.my-band-list {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: center;
}

.my-band-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  flex: wrap;
  width: 35vw;
  // background-color: red;
}

.my-band-list-title {
  border-radius: 30px;
  background-color: $color-4;
  width: fit-content;
  padding: 10px;
  align-self: center;
}
