.my-spot-band{
  margin: 30px 20px;
  width: 200px;
}

.my-spot-band-image {
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  display:flex;

  img {
    width:10vw;
    height: 7vw;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  }

}

.leave-band-warning{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  color: rgb(233, 74, 74);

  .leave-buttons{
    display: flex;
    align-items: center;
    margin: 0 6vw;
  }
}

.css-1wnsr1i {
  border-radius: 12px;
  border: none;
}

.MuiBox-root {
  border: none;
}